html {
  background-color: #000;
  color: #e0e0e0;
  font-family: 'Helvetica', 'Arial', sans-serif;

  .app {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header, .footer {
      background-color: #655545;
      border-radius: 6px;
      text-align: center;
      padding: 4px;
    }

    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      align-content: stretch;

      .column {
        flex: 1;
      }

      .content {
        flex: 4;
      }
    }

    .top-level {
      margin: 6px;
    }
  }

  a {
    color: #e0e080;
    font-weight: bold;
    text-decoration: none;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .blog-post .layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .blog-post .layout.layout-1-1 > *,
  .blog-post .layout.layout-1-1-1 > *,
  .blog-post .layout.layout-1-2 > *:nth-child(1),
  .blog-post .layout.layout-2-1 > *:nth-child(2),
  .blog-post .layout.layout-1-2-1 > *:nth-child(1),
  .blog-post .layout.layout-1-2-1 > *:nth-child(3),
  {
    flex: 1;
  }

  .blog-post .layout.layout-1-2 > *:nth-child(2),
  .blog-post .layout.layout-2-1 > *:nth-child(1),
  .blog-post .layout.layout-1-2-1 > *:nth-child(2),
  {
    flex: 2;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 4px;

    .blog-header {
      background-color: #655545;
      margin-bottom: 2px;
      padding: 4px;
    }

    .blog-body {
      background-color: #453525;
      padding: 4px;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 6px;
    overflow: hidden;

    .column-header {
      background-color: #655545;
      margin-bottom: 2px;
      padding: 4px;
    }

    .column-body {
      background-color: #453525;
      padding: 4px;
      flex-grow: 1;
    }
  }
}
