html {
  background-color: #222;
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;

  a:link, a:hover {
    color: #9FA;
  }

  a:visited, a:active {
    color: #CDF;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .blog .layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .blog .layout.layout-1-1 > *,
  .blog .layout.layout-1-1-1 > *,
  .blog .layout.layout-1-2 > *:nth-child(1),
  .blog .layout.layout-2-1 > *:nth-child(2),
  .blog .layout.layout-1-2-1 > *:nth-child(1),
  .blog .layout.layout-1-2-1 > *:nth-child(3),
  {
    flex: 1;
  }

  .blog .layout.layout-1-2 > *:nth-child(2),
  .blog .layout.layout-2-1 > *:nth-child(1),
  .blog .layout.layout-1-2-1 > *:nth-child(2),
  {
    flex: 2;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header {
      text-align: center;
    }

    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      align-content: stretch;

      .column {
        flex: 1;
      }

      .content {
        flex: 4;
      }
    }

    .top-level {
      box-shadow:
        inset 6px 6px 6px 0 rgba(0, 0, 0, 0.4),
        inset -6px -6px 6px 0 rgba(255, 255, 255, 0.4);

      margin: 6px;
      padding: 12px;

      background-color: #444;
    }
  }
}
