html {
  background-color: #000;
  color: #e0e0e0;
  font-family: 'Helvetica', 'Arial', sans-serif;

  .app {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header, .footer {
      background-color: #655545;
      border-radius: 0.25rem;
      text-align: center;
      padding: 0.5rem;
    }

    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      align-content: stretch;

      .column {
        flex: 0 1 15rem;
      }

      .content {
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & > *:last-child {
          flex: 1;
        }

        & > *:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }
    }

    .top-level {
      margin: 0.25rem;
    }
  }

  a {
    color: #e0e080;
    font-weight: bold;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.25rem 0 0 0;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .blog-post .layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .blog-post .layout.layout-1-1 > *,
  .blog-post .layout.layout-1-1-1 > *,
  .blog-post .layout.layout-1-2 > *:nth-child(1),
  .blog-post .layout.layout-2-1 > *:nth-child(2),
  .blog-post .layout.layout-1-2-1 > *:nth-child(1),
  .blog-post .layout.layout-1-2-1 > *:nth-child(3),
  {
    flex: 1;
  }

  .blog-post .layout.layout-1-2 > *:nth-child(2),
  .blog-post .layout.layout-2-1 > *:nth-child(1),
  .blog-post .layout.layout-1-2-1 > *:nth-child(2),
  {
    flex: 2;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0.25rem;
    overflow: hidden;

    .blog-header {
      background-color: #655545;
      margin-bottom: 0.125rem;
      padding: 0.5rem;
    }

    .blog-body {
      background-color: #453525;
      padding: 0.5rem;
      flex: 1;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0.25rem;
    overflow: hidden;

    .column-header {
      background-color: #655545;
      margin-bottom: 0.125rem;
      padding: 0.5rem;
    }

    .column-body {
      background-color: #453525;
      padding: 0.5rem;
      flex-grow: 1;
    }
  }
}
