.fractal-thumbnail {
  display: flex;
  flex-direction: column;
  background-color: #655545;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0.25rem;

  .fractal-thumbnail-image {
    width: 160px;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fractal-thumbnail-description {
    width: 160px;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.5rem 0 0 0;
  }
}
